<!DOCTYPE html>
<html lang="en" xmlns:th = "https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Leave us with contact!</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div class="container">
<!--        th:action changes where its redirected-->
        <form th:action="index" th:method="post" th:object="${contact}">
            <label for="email"> email</label>
            <input type="email" id="email" th:field="*{email}">
            <br><span></span><br>
            <label for="phone"> phone</label>
            <input type="text" id="phone" th:field="*{number}">
            <span></span><br>
            <input type="submit" value="Send">
        </form>
    </div>

</body>
</html>