<!DOCTYPE html>
<html lang="en" xmlns:th = "https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Leave us with contact!</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div class="container">
        <h5>Back to <a href="/">Home</a></h5>
<!--        th:action changes where its redirected-->
        <div class = "login-box">
            <form th:action="index" th:method="post" th:object="${contact}">
                    <div class = "user-box">
                    <label for="email"> email</label>
                    <input type="email" id="email" th:field="*{email}">
                </div>
                <br><span></span><br>
                    <div class = "user-box">
                    <label for="phone"> phone</label>
                    <input type="text" id="phone" th:field="*{number}">
                </div>
                <span></span><br>
                <button type="submit" class="submit-button"> Send </button>
            </form>
        </div>
    </div>

</body>
</html>