<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Landing Page</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div class="container">
        <h1> Our Landing Page</h1>
        <h4> Work in Progress</h4>
        <div>
            <p><a href="/countries"> Our dear followers </a></p>
            <p><a href="/contact"> Leave us with a mean to reach you! </a></p>
            <p><a href="/allContacts"> Check whether we saved your contact! </a></p>
        </div>
    </div>
</body>
</html>